@charset "utf-8";
/* CSS Document */

#top {  background: #eee;  float: left;  width: 100%;}
.top-icon {float: left;margin: 0;padding: 0;width: 100%;text-align: right;padding-top: 10px;}
.top-icon li{ display:inline-block; padding-right:20px;}
.top-icon li:last-child{ padding-right:0px;}
.top-icon li a {border: 2px solid #424242;border-radius: 10px;color: #424242;float: left;font-size: 30px;margin: 10px 0;padding: 10px;}
.top-icon li a:hover{border: 2px solid #22C2E3; color:#22C2E3;} 
.logo{ float:left; width:100%; text-align:left; height:auto; padding:20px 0px;}
.logo img{ width:100%; max-width:205px;}
#content{ float:left; width:100%; text-align:center; padding:40px 0px; background:url(../images/form-bg.jpg) no-repeat; background-position: center center; background-size:cover; min-height:500px; }
#content .head{ float:left; width:100%; text-align:center; font-size:36px; font-weight:600; color:#22C2E3; }
#search{display: block;font-size: 18px;height: auto;margin: 20px auto;padding: 11px 20px;width: 70%; }
#srch-btn{background: none repeat scroll 0 0 #22c2e3 !important;
border: medium none !important;color: #fff !important;font-size: 18px !important;font-weight: 700 !important;padding: 10px 60px !important;text-shadow: none !important;
text-transform: uppercase; margin-top:10px!important}
.cont-link {  float: left;  margin: 0;  padding: 0;  text-align: center;  width: 100%;}
.cont-link li{ display:inline-block; padding-right:10px;}
.cont-link a {  color: #000;  font-size: 16px;  font-weight: 600;  text-align: center;}
.cont-link li:last-child{ padding-right:0px;}
.cont-link li:first-child{ font-size:20px; font-weight:700; color:#fff;}
.para {  color: #fff;  float: left;  font-size: 16px;  padding: 40px 0;  text-align: center;  width: 100%;}
#footer {  background: none repeat scroll 0 0 #393939;  float: left;  text-align: center;  width: 100%;}
#footer .para{ padding-top:10px; text-align:left;}
#footer .logo{ text-align:left}
.pagination.mypg a {  background: none;  border: none;  font-size: 20px;  text-transform: uppercase;}
.btm-link {  float: left;  width: 100%;  margin-top: 20px;  margin-left: 0;  padding: 0;}
.btm-link li{ list-style:none; float:left; width:100%; }
.btm-link li a{background: none;  border: none;  font-size: 20px;  text-transform: uppercase; color:#fff;}
.Follow {  color: #22C2E3;  float: left;  font-size: 30px;  padding-top: 20px;  text-align: center;  width: 100%;}
#copy{ float:left; width:100%; padding:10px 0px; background:#595959;}
.copy-txt{ color: #fff;
font-size: 16px;
font-weight: 400;
text-align: center;
float: left;
width: 100%;}
.pagination.mypg2 li a{ color:#fff; background: none;  border: none;  font-size: 20px;  text-transform: uppercase;}
.border{ border:1px solid #fff; padding:0px}
.listing {float: left;width: 100%;margin: 0px;padding: 0px;}
.listing li {list-style: none;float: left;width: 98%;text-align: left;padding: 10px 0px;border-top: 1px solid #fff; padding-left:20px}
.listing li input[type="checkbox"] {float: left;width: 20px;height: 20px;padding: 10px;}
.listing li a {color: #fff;font-size: 20px;padding-left: 30px;font-weight: 400; text-align:left;}
